<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title> Bem-vindo :: simple-php </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width = device-width, initial-scale =1.0, maximum-scale = 1.0, user-scalable = no" />
        
        <!-- Components -->
        <link rel="stylesheet" type="text/css" href="public/bower_components/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="public/bower_components/font-awesome/css/font-awesome.min.css" />
        
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:100,600" />
        
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="public/css/welcome.css" />
    </head>
    <body>
        
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"> Bem-vindo </h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success" role="alert">
                        <i class="fa fa-thumbs-o-up fa-2x"></i> &nbsp; <span> Parabéns! </span> 
                        <h5> A aplicação foi instalada com sucesso. Uhuu! </h5>
                    </div>
                </div>
                <div class="panel-footer">
                    <p class="text-muted text-center">Copyright &copy; {{ ano }} - Todos os direitos reservados</p>
                </div>
            </div>
        </div>
        
    </body>
</html>
