html, body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-top: 50px;
}

.row {
    padding: 30px;
}

.col-md-8 {
    margin: 0 auto;
    float: none;
}

.jumbotron {
    text-align: center;
}

.btn {
    background-color: #0F0050;
    border: 1px solid #0F0050;
    color: #FFF;
    
    transition: all ease-in-out 0.2s;
}

.btn:hover,
.btn:focus {
    background-color: #FFF;
    border: 1px solid #0F0050;
    color: #0F0050;
}

