<!DOCTYPE html>

<html lang="pt-br">
     <head>
        <title> {{ title }} </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width = device-width, initial-scale =1, maximum-scale = 1, user-scalable = no" />
        
        <!-- Favicon -->
        <link rel="shorcut icon" href="{{ asset }}/img/simple-icons/simple-php_2.0.png" />
        
        <!-- Components -->
        <link rel="stylesheet" type="text/css" href="{{ asset }}/bower_components/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset }}/bower_components/font-awesome/css/font-awesome.min.css" />
        
        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
        
        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="{{ asset }}/css/welcome.css" />
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                   <div class="jumbotron">
                        <h1> <i class="fa fa-thumbs-o-up"></i> Parabéns </h1>
                        <p> 
                            Aplicação instalada com sucesso. Uhuu! <br />
                            Agora você está pronto para utilizar todos os recursos disponíveis no simple-php. Faça bom proveito.
                        </p>
                        
                        <a class="btn btn-default btn-lg" href="https://github.com/mauricio-msp/simple-php" target="_blank" role="button">
                            Ver projeto no Github <i class="fa fa-github"></i>
                        </a>
                    </div>
                    
                    <hr />
                    
                    <p class="text-center"> Copyright &COPY; {{ ano }}, simple-php &bullet; Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
        
    </body>
</html>
